.ordersPanel {
  display: flex;
  align-items: flex-start;
}
.orders, .products, .orderProducts > ul {
  margin: 0;
  padding-inline-start: 0;
  list-style: none;
}
.products > li, .orders > li {
  align-items: center;
  margin-bottom: 10px;
  padding: 1vh 3vw;
  background: #fff;
  border: 1px solid #cfd8dc;
  cursor: pointer;
  transition: width 3s ease-in;
}
.products > li:hover, .orders > li:hover {
  box-shadow: 1px 1px 8px 0px #d3d8db;
}
.order_li, .active_li {
  display: flex;
}
.order_li > div, .active_li > div {
  width: 10vw;
}
.active_li {
  padding-right: 40px !important;
}
.order_li > div:first-child {
  width:  20vw;
}
.order_li > div:last-child {
  width:  initial;
}
#active {
  position: relative;
}
#active::after {
  content: '>';
  position: absolute;
  top: 0;
  right: 0;
  height: 100%;
  display: flex;
  align-items: center;
  padding: 0 10px 1px;
  background: #cfd8dc;
  font-size: 1.2em;
  font-family: monospace;
  color: white;
}
.orderProducts {
  position: relative;
  margin-left: 15px;
  background: white;
  border: 1px solid #cfd8dc;
}
.orderProducts > h2 {
  padding: 10px 60px;
}
.orderProducts > ul > li {
  padding: 20px;
  border-top: 1px solid #f0f3f5;
  border-bottom: 1px solid #f0f3f5;
}
.orderProducts > ul > li:hover {
  border-color: #cfd8dc;
  box-shadow: 1px 1px 8px 0px #d3d8db;
}
.order_close {
  position: absolute;
  top: 0;
  right: 0;
  width: 20px;
  height: 20px;
  line-height: 1em;
  vertical-align: middle;
  text-align: center;
  transform-origin: center;
  transform: translate(50%, -50%) rotate(45deg);
  border-radius: 50%;
  background: white;
  box-shadow: 1px 1px 3px rgba(0,0,0,0.5);
  cursor: pointer;
}
.order_close:hover {
  box-shadow: 1px 1px 4px rgba(0,0,0,0.5);
}

/* styles for react-router animation */

.container {
  position: relative;
}
.page {
  position: absolute;
  left: 15px;
  right: 15px;
}
.page-enter {
  opacity: 0;
  transform: scale(1.1);
}
.page-enter-active {
  opacity: 1;
  transform: scale(1);
  transition: opacity 300ms, transform 300ms;
}
.page-exit {
  opacity: 1;
  transform: scale(1);
}
.page-exit-active {
  opacity: 0;
  transform: scale(0.9);
  transition: opacity 300ms, transform 300ms;
}

/* little adaptive */

@media screen and (max-width: 850px) {
  .container li > div {
    width: 13vw;
  } 
  .products > li > div:nth-child(3) {
    width: 17vw;
  } 
  .navigation {
    padding: 0 2vw;
  }
  .order_close {
    line-height: initial;
  }
  body  {
    font-size: 0.7rem;
  } 
}
