.App{
  display: grid;
  grid-template-rows: auto 1fr;
  grid-template-columns: auto 1fr;
  height: 100vh;
}
.TopMenu {
  grid-column-start: 1;
  grid-column-end: 3;
  grid-row-start: 1;
  grid-row-end: 2;
  position: relative;
  z-index: 3;
  background: #fff;
}
.NavigationMenu {
  grid-column-start: 1;
  grid-column-end: 2;
  grid-row-start: 1;
  grid-row-end: 3;
  z-index: 2;
}
.App > main {
  grid-column-start: 2;
  grid-column-end: 3;
  grid-row-start: 2;
  grid-row-end: 3;
  /* relative position for popup window */ 
  position: relative;
  padding: 4vh 6vw;
  background: #f0f3f5;
  z-index: 1;
  color: #546e7a;
}
